 body { 
		background-color:#d1fffd;
		font-family:MV Boli;}
	
	h1 {
		color:#FFFFFF;
		text-align:center;
		background-color:#946e42;
		font-family:forte;}
	
	h2 {
		text-align:center;
		color:#4a6c52;}
		
	h3 {
		text-align:center;
		color:red;}

	p.sold {
		background-color:red;
		width:100px;
		color:white;
}


    #aside	{
		width:1000px;
		height:200px;
		background-color:#946e42;
		margin-bottom:5px;
		padding-top:2px;}

	p.title	{
	font-size:70px;
	text-align:center;
	color:#ffffc9;
}

	
		
	
	p
	{ color:#2d322b;
	text-align:left;}

	.acordian-title {
	font-size:30px;
	font-weight:bold;
	color:#548557;
	text-align:center;

}

	.listbox	{
	width:450px;		
	margin-left:auto;
	margin-right:auto;

}





		
		ul {
			color:#000000;
		text-align:left;
		list-style-type:square;
		
	
	}
		
			ol {
			color:#000000;
		text-align:left;
		;
}
	
	address {
		color:#feffef;
		text-align:center;
		font-size: 150%;}
	
	#container {
		width:1000px;
		margin-left:auto;
		margin-right:auto;
		border: 10px solid #1e0d1f;
			background-color: #3f3f3f;}
		
		
				#main {
		width:585px;
		float:right;
		border: 10px solid #1e0d1f;
		background-color: #58d8c9;
		text-align:center;	
		margin-right:50px;
		  padding: 0px;}
		  
		  		
				#centeredmain {
		width:800px;
		border: 0px solid #1e0d1f;
		background-color:white;
		text-align:center;	
		margin-top:10px;
		margin-right:auto;
		margin-left:auto;
		  padding: 10px;}
				
						#nav{
		width:270px;
		float:left;
		border: 10px solid #58d8c9;
		background-color: #1e0d1f;
		text-align:center;	}
							

			
						#footer{
		margin-right:auto;
		margin-left:auto;
		clear:both;
		margin-bottom:10px;
		border: 0px solid #1e0d1f;
			background-color:#946e42;
			text-align:center;
			}
	
			

					#link {
		width:950px;

		float:none;
	background-color:#75b579;
	text-align: center;
	border: 0px solid #58d8c9;			
		margin-top:1px;
		padding-bottom:0px;
		padding-top:0px;
		padding-left:10px;
		margin-bottom:1px;
		margin-left:auto;
		margin-right:auto;

}


				#gal {
		width:400px;
		border: 10px solid #1e0d1f;
		background-color: #58d8c9;
		text-align:center;	
		margin-right:auto;
		margin-left:auto;
		  padding: 0px;}
		  
		  				

	.maintext 	{
	background-color:white;
	width:800px;
	margin-right:auto;
	margin-left:auto;}


	.linkstyles {
		
		color:white;
		font-size:35px;
	margin-left:5px;}
	
	.banner {
		
		color:#3f3f3f;
		font-size:50px;
	font-weight:bold;
	text-align:center;
	}



a:link {


			
    color:white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color:green;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color:red;
    background-color: transparent;
    text-decoration: underline;
}		
			
	table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #170323;
    text-align: left;
    padding: 8px;
}

tr{
	background-color:#d1fffd;
	
}
tr:nth-child(even) {
    background-color: #d1fffd		;
}
	tr.error {
    background-color: #58d8c9;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}



